@page "/player-database"
@using Microsoft.AspNetCore.Components.Sections
@layout CommonLayout

<SectionContent SectionId="CommonLayout.SideBarSection">
    <div>asd123</div>
</SectionContent>

<div>asd</div>
@code {

}
