@page "/player-database"
@using Microsoft.AspNetCore.Components.Sections
@inject IJSRuntime JSRuntime
@inject HttpClient Client
@inject NavigationManager Navigation
@layout CommonLayout
@inherits ONIZPage


<SortListBox Options="SortOptions"
			 SelectedOptionChanged="OnSortChangedAsync" />

<div class="analysis-textbox-container">
	<div id="analysisTextbox" class="analysis-textbox">
		@if (string.IsNullOrEmpty(RecordResult))
		{
			<div>No data...</div>
		}		
		else
		{
			<div>
				<img src="@ProfileImageSrc" class="profile-img" />
			</div>
			@((MarkupString)RecordResult)
		}
	</div>
</div>

<SectionContent SectionId="CommonLayout.FolderSection">
	<FolderViewTree Folders="Folders"
					ErrorMessage="@ErrorMessage"
					LoadingMessage="Loading database..."
					NoDataMessage="No records found"
					OnSelectedItem="SelectRecord"
					SearchTerm="@SearchTerm" />
</SectionContent>

<SectionContent SectionId="CommonLayout.SearchSection">
	<ItemSearch OnSearch="UpdateVisibility"
				SearchTermChanged="UpdateSearch"
		        OnClear="ClearSearch">	         
	</ItemSearch>
</SectionContent>

<script>
	document.addEventListener('click', function(e) {
		const dropdown = document.querySelector('.analyze-sort-dropdown');
		const header = document.querySelector('.analyze-sort-header');

		if (dropdown && header && !header.contains(e.target) && !dropdown.contains(e.target)) {
			header.click();
		}
	});
</script>
