@page "/player-database"
@using Microsoft.AspNetCore.Components.Sections
@inject IJSRuntime JSRuntime
@inject HttpClient Client
@inject NavigationManager Navigation
@layout CommonLayout
@inherits ONIZPage

<div class="analysis-textbox-container">
	<div id="analysisTextbox" class="analysis-textbox">
		@if (string.IsNullOrEmpty(RecordResult))
		{
			<div>No data...</div>
		}		
		else
		{
			<img src="@ProfileImageSrc"/>
			@((MarkupString)RecordResult)
		}
	</div>
</div>

<SectionContent SectionId="CommonLayout.FolderSection">
	<FolderViewTree Folders="Folders"
					ErrorMessage="@ErrorMessage"
					LoadingMessage="Loading database..."
					NoDataMessage="No records found"
					OnSelectedItem="SelectRecord"
					SearchTerm="@SearchTerm" />
</SectionContent>

<SectionContent SectionId="CommonLayout.SearchSection">
	<ItemSearch OnSearch="UpdateVisibility"
				SearchTermChanged="UpdateSearch"
		        OnClear="ClearSearch">	         
	</ItemSearch>
</SectionContent>
