@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase
@layout MainLayout

<div class="page-layout">
    <div class="sidebar">      
        <SectionOutlet SectionId="SearchSection"></SectionOutlet>
        <SectionOutlet SectionId="FolderSection"></SectionOutlet>                
    </div>

    <div class="main-content">
	    <div class="analyze-section">
            @Body
        </div>
    </div>
</div>

