@inherits LayoutComponentBase

<div class="root-layout">
    <div class="nav-bar">
        <NavLink href="/home">Home</NavLink>
        <NavLink href="/player-database">Database</NavLink>
        <div></div>
    </div>
    @Body
</div>
